.heading-feature {
    color: rgb(68, 240, 68);
}

.font-awesome-seed {
    font-size: 48px;
    color: rgb(68, 240, 68);
    text-align: center;
}

.take-first-step {
    background-color: rgb(68, 240, 68);
}

.footer {
    background-color: #1c2331
}

.employee {
    width: 12%;
}